@import reset
@import gradient
@import variables

*
  -webkit-box-sizing: border-boz
  -moz-box-sizing: border-boz
  box-sizing: border-box

body
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif
  font-size: 16px

a
  color: gray
  text-decoration: none

  &:hover
    color: black

h1, h2, h3, h4
  font-weight: bold

h1
  font-size: 24px
  margin-bottom: $gutter

h2
  font-size: 20px

h3
  font-size: 18px

//////////////////////////////

#viewport
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  overflow: hidden

// positioned to show #home at the beginning
#stage
  position: absolute
  top: $home-y * -1
  left: $home-x * -1
  width: 10000px
  height: 10000px
  +transition(all $duration ease-in-out)
  +gradient(blue, orange)
  +transform-origin($home-x $home-y)

  &.zoomed-out
    +transform(scale(0.3))

#test
  position: absolute
  width: 20px
  height: 20px
  background: red
  top: 4687px
  left: 4040px

#home
  position: absolute
  top: $home-y
  left: $home-x
  overflow-x: hidden
  overflow-y: auto
  +stack
  padding: $gutter
  background: $white

  ul, li
    +stackwide

  li
    margin-top: $gutter / 3

  .return-home
    display: none
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    +transition(box-shadow 0.2s linear)

    &:hover
      box-shadow: 0 0 20px rgba(0,0,0,0.6)
