@import reset
@import variables

*
  -webkit-box-sizing: border-boz
  -moz-box-sizing: border-boz
  box-sizing: border-box

body
  background: pink
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif
  font-size: 16px

a
  color: gray
  text-decoration: none

  &:hover
    color: black

h1, h2, h3, h4
  font-weight: bold

h1
  font-size: 24px
  margin-bottom: $gutter

h2
  font-size: 20px

h3
  font-size: 18px

#home
  position: relative
  +stack
  padding: $gutter
  background: $white

  &.animating
    +transition(all $duration ease-in-out)

  &.zoomed-out
    +transform(scale(0.5))

  ul, li
    +stackwide

  li
    margin-top: $gutter / 3

  .return-home
    display: none
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    +transition(box-shadow 0.2s linear)

    &:hover
      box-shadow: 0 0 20px rgba(0,0,0,0.6)
