$white: #fff

$gutter: 24px
$duration: 1s

$home-x: 0px // was 3000
$home-y: 0px
$stage-width: 10000px
$stage-height: 10000px

=stack
  float: left
  clear: both

=stackwide
  +stack
  width: 100%

=transition($args)
  -webkit-transition: $args
  -moz-transition: $args
  transition: $args

=transform($args)
  -webkit-transform: $args
  -moz-transform: $args
  transform: $args

=transform-origin($args)
  -webkit-transform-origin: $args
  -moz-transform-origin: $args
  -ms-transform-origin: $args
  -o-transform-origin: $args
  transform-origin: $args
