$white: #fff

$gutter: 24px
$transition-time: 1200ms

$home-x: 3000px
$home-y: 3000px
$stage-width: 10000px
$stage-height: 10000px

=stack
  float: left
  clear: both

=stackwide
  +stack
  width: 100%
